.contents {
	display: contents;
}

.row {
	height: 40px;
}
.row div {
	transition: 0.3s;
}

.row:hover div {
	background-color: var(--dark-hover);
}

.row.selected div {
	background-color: #537df99d;
}

.deleteCell {
	transition: 0;
	opacity: 0;
	user-select: none;
}

.row:hover .deleteCell {
	opacity: 1;
	user-select: all;
}

.dataCell {
	font-size: 12px;
	
	color: var(--gray);
}
