.contents {
	display: contents;
}

.row {
	height: 40px;

	--border-radius: 8px;
}

.row div {
	transition: 0.3s;
}

.row div:first-child{
	border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.row div:last-child{
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.row:hover div {
	background-color: var(--dark-hover);
}

.row.selected div {
	background-color: #537cf91f;
}

.row.selected:hover div {
	background-color: #537cf968;
}

.action {
	opacity: 0;

	transition: 0;

	user-select: none;
}

.row:hover .action {
	opacity: 1;

	user-select: all;
}

.dataCell {
	color: var(--gray);
	font-size: 12px;
}

/* .actionsCell {
	display: flex;
	gap: 8px;
} */
