.root {
	position: relative;

	display: flex;
	gap: 16px;
	align-items: center;
	width: fit-content;
	padding: 2px 4px;
	overflow: hidden;

	border-radius: 8px;
	cursor: pointer;

	transition: 0.3s;
}

.title {
	font-size: 14px;
}

.email {
	color: #979797;
	font-size: 12px;
}
