.root {
	position: relative;

	display: flex;
	gap: 16px;
	align-items: center;
	width: fit-content;
	padding: 2px 4px;
	overflow: hidden;

	border-radius: 8px;
	cursor: pointer;

	transition: 0.3s;
}

.icons {
	position: absolute;
	left: 50px;

	display: flex;
	gap: 32px;
	width: 100%;
	padding: 20px 30px;

	font-weight: 900;

	background-color: #fff;
	opacity: 0;

	transition: 0.3s;
}

.root:hover .icons {
	opacity: 100;
}

.title {
	font-size: 14px;
}

.email {
	color: #979797;
	font-size: 12px;
}
