.page {
	box-sizing: border-box;
	padding: 32px;
}

.inputsBlock {
	display: flex;
	gap: 16px;
	margin-top: 32px;
}

.rootInput {
	width: 500px;
	margin-top: 8px;
}

.info {
	margin-top: 64px;
}

.synonymsBlock {
	box-sizing: border-box;
	width: 500px;
	margin-top: 8px;
	padding: 8px 4px;

	color: rgb(128 128 128);

	background-color: rgb(245 245 245);
}

.list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.addButton {
	margin-top: 8px;
}

.header {
	display: flex;
	gap: 8px;
	align-items: center;
}
