.root {
	position: relative;

	padding: 0 16px 0 0;

	text-decoration: none;
}

.title {
	padding: 8px;

	color: var(--main-color);

	border-radius: 8px;

	transition: 0.3s;
}

.active {
	color: var(--blue);
}

.title:hover {
	background: var(--dark-hover);
}

.activeChevron {
	position: absolute;
	top: 2px;
	right: 0;
	bottom: 2px;

	width: 5px;

	background-color: var(--blue);
	border-radius: 4px 0 0 4px;
}
