.page {
	box-sizing: border-box;
	padding: 32px;
}

.separator {
	height: 1px;
	margin: 24px 0;

	background-color: var(--gray-border);
}

.pageHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	margin: 0;
	padding: 0;
}
