.contents {
	display: contents;
}

.row div {
	transition: 0.3s;
}

.row:hover div {
	background-color: var(--dark-hover);
}

.actionCell * {
	display: none;
}

.actionCell {
	display: flex;

	gap: 8px;
	align-items: center;
}

.row:hover  .actionCell * {
	display: block;
}
