.root {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	height: 40px;
	padding: 4px 8px;

	border: 1px solid rgb(231 231 231);
	border-radius: 4px;
	cursor: text;
}

.focused {
	border: 1px solid rgb(68 133 255);
}

.baseInput {
	width: 100%;
	margin: 0;
	padding: 0;

	background-color: transparent;
	border: none;
}

.baseInput:active,
.baseInput:focus-visible,
.baseInput:focus {
	border: none;
	outline: none;
}

.banUserInput {
	cursor: default;
}
