.root {
	position: relative;

	--size: 16px;

	box-sizing: border-box;
	width: var(--size);
	height: var(--size);

	border: var(--border-size) solid var(--gray);

	border-radius: 4px;

	--border-size: 1px;

	user-select: none;
}

.root:hover {
	--border-size: 2px;
}

.nativeCheckbox {
	display: none;
}

.root:has(input:checked) {
	--border-size: 0;
	background-color: var(--blue);
}

.icon {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	fill: var(--white);
}