.page {
	box-sizing: border-box;
	padding: 32px;
}

.buttonsBlock {
	display: flex;
	gap: 8px;
}

.settingBlock {
	display: flex;
	align-items: center;

	margin-top: 8px;
}

.settingText {
	width: 200px;
}