.form {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.autoTranslateButton {
	color: rgb(68 133 255);

	cursor: pointer;

	user-select: none;
}

.autoTranslateBlock {
	display: flex;
	gap: 4px;

	color: var(--gray);
}

.autoTranslateBlock span:not(:first-child):hover {
	text-decoration: underline;

	cursor: pointer;
}