.page {
	box-sizing: border-box;
	padding: 32px;
}

.addWordBlock {
	display: flex;
	gap: 16px;
}

.addInput {
	width: 400px;
}

.pageHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	margin: 0;

	margin-bottom: 16px;
	padding: 0;
}
